{% extends "base.html" %}

    {% block title %}{{ title }}{% endblock %}
    
    {% block body %}

        <div id="aboutEntireContainer">
            <div class="aboutContainer1">
                <img src="https://aliabdaal.com/content/images/2021/03/Welcome.svg" alt="aboutLogo" id="aboutLogo">
                <h2>👨🏼‍⚕️ About Me</h2>
                <p id="aboutContainer1_p">As of August 2020, I've been a doctor in the UK for two years, and I'm now taking a 1-year</p>
                <p>sabbatical from Medicine to explore my other interests.</p>
                <hr class="aboutLine">
            </div>

            <div class="aboutContent">

                <div class="aboutContainer2">
                    <h2>What I'm Working On</h2>
                    <ol class="aboutList">
                        <li>👨🏼‍⚕️ I'm a doctor working in the UK. I studied Medicine for 6 years at Cambridge University, and graduated in 2018</li>
                        <li>🎬 On my <a href="#">YouTube channel</a>, I make videos about medicine, tech, productivity and lifestyle. <a href="#">Check out my most popular videos</a>.</li>
                        <li>💌 I write a <a href="#">weekly email newletter</a>. Each Sunday, I share some thoughts about subjects I've been pondering, along with links to books, articles and podcasts that I've been enjoying. <a href="#">Check out the previous  issues</a> and maybe subscribe  😉</li>
                        <li>🎙 My brother and I host a weekly podcast called <a href="#">Not Overthinking</a>. Every Sunday we talk about topics related to 'happiness, creativity and the human condition'.</li>
                        <li>✍️ On this website I write articles about <a href="#">productivity, entrepreneurship</a> and <a href="#">generic life advice</a> that I've found helpful over the years, as well as sharing my <a href="#">favourites apps</a> and <a href="#">tech</a>.</li>
                    </ol>
                </div>

                <div class="aboutContainer3">
                    <h2>Other Stuff</h2>
                    <ol class="aboutList">
                        <li>🎮 I <a href="#">learned to code</a> aged 12, and worked as a freelance web designer/developer through my teenage years. This funded my World of Warcraft addiction.</li>

                        <li>🤑 At university (2012-2018), I started a company called <a href="#">6med</a> that helps students applying to medical school. We run classroom courses and <a href="#">online question banks</a> for the UCAT, BMAT and interviews. Our products help thousands of students each year, and we give out tens of thousands of pounds in bursaires for students from low-income backgrounds. These days, I advise on high-level strategy, and we've got a great team of students who run things day-to-day.</li>

                        <li>🎸 I enjoy playing the piano and guitar, and singing covers of mainstream pop + Disney songs. I sometimes post videos of this on <a href="#">Instagram</a>, along with various selfies from work, to subtly show-off the fact that I'm a doctor. Please <a href="#">follow me</a> if that sounds remotely appealing.</li>
                    </ol>
                </div>

                <div class="aboutContainer4">
                    <h2>Get in Touch</h2>
                    <ol class="aboutList">
                        <li>🐦 <a href="#">Twitter</a> - If you've got a short question or message (<280 characters), please tweet <a href="#">@AliAbdaal</a> and I'|| get back to you as soon as I can. I also occasionally replay to <a href="#">Instagram DMs</a> but it's much more cumbersome to do so (for now).</li>
                        
                        <li>📨 <a href="#">Email</a> - If it's a longer thing, or you don't want it to be a public tweet, please email me (hi@aliabdaal.com). I read 100$ of emails but there's only enough time in the day to reply to around 30%. If you replay to my <a href="#">weekly Sunday newletter</a> with a specific question, the chances I'll reply are much higher, as I like to spend Sundays doing chill stuff like replying to emails.</li>
                    </ol>
                </div>

            </div>

            <div class="container_6">
                <div class="container_6_1">
                    <h2>💌 Subscribe to Sunday Snippets</h2>
                    <p id="container_6_p">"Your emails always warm the cockles of my heart"</p>
                    <p>Join a growing community of more than 130,000 (🤯) friendly</p>
                    <p>readers. Every Sunday I share actionable productivity tips,</p>
                    <p>practical life advice, and high-quality insights from across the</p>
                    <p>web, directly to your inbox.</p>
                </div>
                <div class="container_6_2">
                    <input type="text" name="firstName" id="firstName" placeholder="First Name">
                    <input type="email" name="email3" id="email3" placeholder="Email Address">
                    <button id="subBtn2">SUBSCRIBE</button>
                </div>
            </div>

    {% endblock %}