{% extends "base.html" %}

    {% block title %}{{ title }}{% endblock %}
    
    {% block body %}
        <div class="" id="entireBookContent">
            <div class="bookNotesContainer1">
                <img src={{ url_for('static', filename='/icons/Ebooks.svg')}}  alt="Ebooks" id="EbooksIcon">
                <h1>📚 Book Summaries</h1>
                <hr id="headLine">
            </div>
        
            <div class="bookNotesContainer2">
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/Atomic-Habits.jpg')}}  alt="Atomic Habits" id="atomicHabitImg">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">Atomic Habits (James Clear)</a>
                        <h4>Book Summary, Notes & Highlights</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>This book helped me understand how</p>
                            <p>habits are formed and what we can do to</p>
                            <p>build long-lasting chains of cues,</p>
                            <p>cravings, responses, and rewards to</p>
                            <p>create systems that will help us achieve</p>
                            <p>our goals.</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/Your-Money-or-Your-Life.jpg')}} alt="your money or your life" id="yourMoneyOrYourLifeImg">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">Your Money or Your Life(Vicki Robin)</a>
                        <h4>Book Summary, Notes & Highlights</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>This book completely changed my</p>
                            <p>relationship with money. I think everyone</p>
                            <p>shoule give it a read. Even though it's</p>
                            <p>portrayed as a personal finance book, it</p>
                            <p>gives answers to much deeper questions</p>
                            <p>than just "How do I save more?"</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/how_will_you_measure_your_life.jpg')}}   alt="">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">How will you measure your life?</a>
                        <h4>Book Summary, Notes & Highlights</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>This book challenged me to think about</p>
                            <p>my own life choices and how I'm</p>
                            <p>prioritising my work, relationships, and</p>
                            <p>other goals.</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/The-Motivation-Myth--Jeff-Haden-.jpg')}}  alt="The Motivation Myth Jeff Haden">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">The Motivation Myth (Jeff Haden)</a>
                        <h4>Book Summary</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>In this episode of the book club, we're</p>
                            <p>talking about the Motivation Myth by Jeff</p>
                            <p>Haden.</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/Think-Like-a-Monk.jpg')}} alt="think like">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">Think Like A Monk(Jay Shetty)</a>
                        <h4>Book Summary</h4>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/The-Happiness-Advantage.jpg')}} alt="The happiness Advantages">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">The Happiness Advantage (Shawn</a>
                        <a href="#">Achor)</a>
                        <h4>Book Summary</h4>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/Grit-1.jpg')}} alt="grit">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">Grit (Angela Duckworth)</a>
                        <h4>Book Summary</h4>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/The-Elephant-in-the-Brain.jpg')}} alt="The Elephant in the brain">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">The Elephant in the Brain (Kevin Simler</a>
                        <a href="#">and Robin Hanson)</a>
                        <h4>Book Summary</h4>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/Make-Time.jpg')}}  alt="Make Time">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">Make Time (Jake Knapp and John</a>
                        <a href="#">Zeratsky)</a>
                        <h4>Book Summary</h4>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/Show-Your-Work-.jpg')}} alt="show your work">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">Show Your Work! (Austin Kleon)</a>
                        <h4>Book Summary, Notes & Highlights</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>It completely changed the way I thought</p>
                            <p>about sharing stuff online, and</p>
                            <p>encouraged me to start my blog in</p>
                            <p>January 2016</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/the_status_game.jpeg')}}   alt="The Making of a Manager">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">The Making of a Manager (Julie Zhuo)</a>
                        <h4>Book Summary, Notes & Highlights</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>I learned so much about being a manager,</p>
                            <p>and my management skills immediately</p>
                            <p>improved after I started to do some of the</p>
                            <p>things that Julie recommends.</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/Storyworthy.jpg')}}  alt="Story worthy">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">Storyworthy (Matthew Dicks)</a>
                        <h4>Book Summary, Notes & Highlights</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>This is one of the most engaging books</p>
                            <p>I've ever read and has already changed</p>
                            <p>my outlook on the stories that happen</p>
                            <p>every single day in our lives that usually</p>
                            <p>just pass us by.</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/How-to-Take-Smart-Notes.jpg')}}  alt="How to Take Smart Notes">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">How to Take Smart Notes (Sönke</a>
                        <a href="#">Ahrens)</a>
                        <h4>Book Summary and Notes</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>This book transformed my relationship</p>
                            <p>with note-taking. It's the best (English)</p>
                            <p>introduction to the Zettlekasten (slip-box)</p>
                            <p>method</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/The-Magic-of-Thinking-Big.jpg')}}   alt="The Magic of Thinking">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">The Magic of Thinking Big (David</a>
                        <a href="#">Swartz)</a>
                        <h4>Book Discussion</h4>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/The-Unfair-Advantage.jpg')}}  alt="The unfair advantage">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">The Unfair Advantages (Ash Ali & Hassan</a>
                        <a href="Kubba)"></a>
                        <h4>Book Summary</h4>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/Derren_brown.jpg')}} alt="Derren Brown">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">Happy (Derren Brown)</a>
                        <h4>Book Summary, Notes & Highlights</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>It's my most highlighted book on Kindle</p>
                            <p>(by a very long way) and while I was</p>
                            <p>reading it, I found myself nodding my</p>
                            <p>head like a lunatic on almost every page.</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/the_courage_to_be_disliked.jpg')}}   alt="The courage to be disliked">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">The Courage to be Disliked (Funmitake</a>
                        <a href="#">Koga and Ichiro Kishimi)</a>
                        <h4>Book Discussion</h4>
        
                        <div class="booksNotesContent1_2_subcontent">
                            <p>In this episode, we summarise "The</p>
                            <p>Courage to be Disliked" by Fumitake Koga</p>
                            <p>and Ichiro Kishimi.</p>
                        </div>
                    </div>
                </div>
                <div class="bookNotesContent1">
                    <div class="bookNotesContent1_1">
                        <img src={{ url_for('static', filename='/images/the_status_game.jpeg')}} alt="David Maccullough">
                    </div>
                    <div class="bookNotesContent1_2">
                        <a href="#">The Wright Brothers (David</a>
                        <a href="#">McCullough)</a>
                        <h4>Book Discussion</h4>
                        <div class="booksNotesContent1_2_subcontent">
                            <p>In this episode, we talk about "The Wright</p>
                            <p>Brothers" by David McCullough.</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="container_6">
                <div class="container_6_1">
                    <h2>💌 Subscribe to Sunday Snippets</h2>
                    <p id="container_6_p">"Your emails always warm the cockles of my heart"</p>
                    <p>Join a growing community of more than 130,000 (🤯) friendly</p>
                    <p>readers. Every Sunday I share actionable productivity tips,</p>
                    <p>practical life advice, and high-quality insights from across the</p>
                    <p>web, directly to your inbox.</p>
                </div>
                <div class="container_6_2">
                    <input type="text" name="firstName" id="firstName" placeholder="First Name">
                    <input type="email" name="email3" id="email3" placeholder="Email Address">
                    <button id="subBtn2">SUBSCRIBE</button>
                </div>
            </div>
    
    {% endblock %}