{% extends "base.html" %}

    {% block title %}{{ title }}{% endblock %}
    
    {% block body %}
    
    <div class="coursesContainer1">
        <img src="./img/courses.png" alt="courses" id="coursesImg">
        <h2>🎒 My Courses</h2>
        <div class="container1_content">
            <p>You can find 99% of my stuff on the interest for free in various forms. But for a more</p>
            <p>structured, detailed approach, you might like to check out my online courses</p>
        </div>
        <hr class="courseLink">
    </div>

    <div class="coursesContainer2">
        <h2>Part-Time YouTuber Academy</h2>
        <div class="coursesContainer2_sub1">
            <p>Over the last three years I've created a system I call the Infinite Content Machine,</p>
            <p>which has helped me gain over a million subscribers. As this is a method I've spent</p>
            <p>the last three years nailing down, I wanted to share it with you so you can replicate</p>
            <p>it for yourself.</p>
        </div>
        
        <div class="coursesContainer2_sub2">
            <p>If, like me you want to build a business from YouTube and you either need the</p>
            <p>encouragement to start or to carry on and do it with a purpose, <a href="#">the Part-Time</a></p>
            <p><a href="#">YouTuber Academy</a> would be perfect to you. I focus on the 0-100,000 subscribers</p>
            <p>territory so if this is you, I've outlined the courses in detail <a href="#">on this page</a></p>
        </div>

        <div class="coursesContainer2_sub3">
            <h3>Part-Time YouTuber Academy</h3>
            <div class="coursesContainer2_sub3_1">
                <div class="container2_sub3_1_1">
                    <p>Learn how to grow your YouTube channel from 0</p>
                    <p>to 100,000+ subscribers and transform it into a..</p>
                    <p> <img src="./img/homelogo.png" alt="homelogo"> Part-Time YouTuber Academy</p>
                </div>
                <div class="container2_sub3_1_2">
                    <img src="./img/partTime_youTuber_Academy_img.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="coursesContainer3">
        <h2>My Skillshare Classes</h2>
        <p>I love Skillshare. I've put up lots of online classes on there because (a) it's a great </p>
        <p>platform, and (b) because anyone can watch my stuff via their very generous 1-</p>
        <p>month free trail without having to pay anything. Here are examples of some of the </p>
        <p>classes I have up on Skillshare.</p>

        <div class="coursesContainer3_sub1">
            <div class="coursesContainer3_sub1_1">
                <div class="coursesContainer3_sub1_1_1">
                    <p>How to Study for Exams - An Evidence-Based</p>
                    <p>Masterclass | Ali Abdaal | Skillshare</p>
                </div>
                
                <div class="coursesContainer3_sub1_1_2">
                    <p>Being able to study efficiently and effectively is a</p>
                    <p>superpower. As students, it boost our grades,...</p>
                </div> 
                
            </div>
            <div class="coursesContainer3_sub1_2"></div>
        </div>
    </div>
    
    {% endblock %}